In [231]:
import pandas as pd

In [232]:
deaths = pd.read_csv("https://raw.githubusercontent.com/" + 
                     "CSSEGISandData/COVID-19/master/" + 
                     "csse_covid_19_data/csse_covid_19_time_series/" + 
                     "time_series_19-covid-Deaths.csv")

In [233]:
deaths = deaths[[bool(~((isinstance(i, str)) and (',' in i))) for i in deaths["Province/State"]]]

In [234]:
deaths = deaths.groupby("Country/Region").sum().reset_index()

In [235]:
deaths.columns[-1]

'3/23/20'

In [236]:
deaths = deaths[["Country/Region", 
                 "2/15/20", "3/1/20", "3/15/20", 
                 deaths.columns[-1]]]
deaths.rename({deaths.columns[-1]: "today",
                          "Country/Region": "name",
                           "2/15/20": "feb15",
                           "3/1/20": "mar1", 
                           "3/15/20": "mar15"}, axis=1, inplace=True)
deaths.sort_values(by="name")
deaths.tail()

           name  feb15  mar1  mar15  today
178  Uzbekistan      0     0      0    0.0
179   Venezuela      0     0      0    0.0
180     Vietnam      0     0      0    0.0
181      Zambia      0     0      0    0.0
182    Zimbabwe      0     0      0    0.0

In [237]:
deaths.columns

Index(['name', 'feb15', 'mar1', 'mar15', 'today'], dtype='object')

In [238]:
pd.DataFrame.from_dict({'name': [name], 'feb15': [0], 'mar1': [0],  
               'mar15': [0],  'today': [0]})

    name  feb15  mar1  mar15  today
0  Yemen      0     0      0      0

In [239]:
names = ["Antarctica", "French Southern and Antarctic Lands", "Burundi",
        "Belize", "Botswana", "Northern Cyprus", "Falkland Islands",
        "Guinea Bissau", "Laos", "Libya", "Lesotho", "Mali", "Myanmar",
        "Malawi", "New Caledonia", "North Korea", "Western Sahara", 
        "South Sudan", "Solomon Islands", "Sierra Leone", "Somaliland",
        "Swaziland", "Tajikistan", "Turkmenistan", "Vanuatu",
        "United Republic of Tanzania", "West Bank", "Yemen"]
for name in names:
    if name not in deaths.name.values:
        
        deaths = pd.concat([deaths, pd.DataFrame.from_dict({'name': [name], 
                            'feb15': [0], 'mar1': [0],  
               'mar15': [0],  'today': [0]})])
        
deaths.replace("Cote d'Ivoire", "Ivory Coast", inplace=True)
deaths.replace("Congo (Kinshasa)", "Democratic Republic of the Congo", 
               inplace=True)
deaths.replace("Czechia", "Czech Republic", inplace=True)
deaths.replace("Gambia, The", "Gambia", inplace=True)
deaths.replace("Korea, South", "South Korea", inplace=True)
deaths.replace("North Macedonia", "Macedonia", inplace=True)
deaths.replace("Serbia", "Republic of Serbia", inplace=True)
deaths.replace("Taiwan*", "Taiwan", inplace=True)
deaths.replace("US", "United States of America", inplace=True)

deaths.iloc[:,1:] = deaths.values[:,1:] +1
deaths.to_csv("data/deaths.csv", index=False)

deaths.head()

          name  feb15  mar1  mar15  today
0  Afghanistan      1     1      1    2.0
1      Albania      1     1      2    3.0
2      Algeria      1     1      5   18.0
3      Andorra      1     1      1    2.0
4       Angola      1     1      1    1.0

In [240]:
!pwd

/Users/fbb/Dropbox/covid19Vizs